*{
    
    padding: 0%;
    background-color:rgb(50, 3, 56)
}
.conteinerText{
   position: absolute;
   left: 24%;
   top: 6%;
}
.conteinerInfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
   width: 300%;
   height: 550px;
    background-color: rgb(30, 13, 38);
}

h1{
position: relative;
left: 103%;
bottom: 20%;
}
input{
    width: 75%;
    position: relative;
    left: 13%;
    bottom: 18%;

}
#conteinerUserName{
    margin-bottom: 10%;
}
.conteinerButton{
    width: 75%;
    position: relative;
    left: 13%;
    bottom: 15%;
    margin-top: 10%;
}
.conteiner_a{
    position: relative;
    left: 220%;
    top: 90%;
}
a{
    display: flex;
    justify-content: end;
    background-color: rgb(30, 13, 38); ;
    margin-right: 13%;
   
   
}